.container {
  position: relative;
  height: 100px;
  width: 86px;
  transform: scale(0.5);
}

.loader {
  font-size: 48px;
  color: #000;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  position: relative;
  bottom: 0;
}
.loader:after {
  content: "Loading";
  position: relative;
  z-index: 5;
}
.loader:before {
  content: "";
  height: 6px;
  border: 1px solid;
  border-radius: 10px;
  width: 100%;
  position: absolute;
  background: linear-gradient(#ff3d00 100%, transparent 0) no-repeat;
  background-size: 0% auto;
  animation: 10s lineGrow linear infinite;
}

@keyframes lineGrow {
  to {
    background-size: 100% auto;
  }
}

.cube {
  position: absolute;
  width: 86px;
  height: 100px;
}

.right {
  background: #d53a33;
  transform: rotate(-30deg) skewX(-30deg) translate(49px, 65px) scaleY(0.86);
}

.left {
  background: #e79c10;
  transform: rotate(90deg) skewX(-30deg) scaleY(0.86) translate(25px, -50px);
}

.top {
  background: #1d9099;
  transform: rotate(210deg) skew(-30deg) translate(-75px, -22px) scaleY(0.86);
  z-index: 2;
}

.face {
  height: 50px;
  width: 50px;
  position: absolute;
  transform-origin: 0 0;
}

.h1.w1.l1 {
  z-index: -1;
  animation-name: h1w1l1;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h1w1l1 {
  0% {
    transform: translate(0%, -100%);
  }
  14% {
    transform: translate(-50%, -125%);
  }
  28% {
    transform: translate(0%, -150%);
  }
  43% {
    transform: translate(0%, -200%);
  }
  57% {
    transform: translate(50%, -175%);
  }
  71% {
    transform: translate(0%, -150%);
  }
  85% {
    transform: translate(0%, -100%);
  }
  100% {
    transform: translate(0%, -100%);
  }
}
.h1.w1.l2 {
  z-index: -1;
  animation-name: h1w1l2;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h1w1l2 {
  0% {
    transform: translate(50%, -75%);
  }
  14% {
    transform: translate(50%, -75%);
  }
  28% {
    transform: translate(100%, -100%);
  }
  43% {
    transform: translate(100%, -150%);
  }
  57% {
    transform: translate(100%, -150%);
  }
  71% {
    transform: translate(50%, -125%);
  }
  85% {
    transform: translate(50%, -75%);
  }
  100% {
    transform: translate(50%, -75%);
  }
}
.h1.w1.l3 {
  z-index: -1;
  animation-name: h1w1l3;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h1w1l3 {
  0% {
    transform: translate(100%, -50%);
  }
  14% {
    transform: translate(150%, -25%);
  }
  28% {
    transform: translate(200%, -50%);
  }
  43% {
    transform: translate(200%, -100%);
  }
  57% {
    transform: translate(150%, -125%);
  }
  71% {
    transform: translate(100%, -100%);
  }
  85% {
    transform: translate(100%, -50%);
  }
  100% {
    transform: translate(100%, -50%);
  }
}
.h1.w1.l4 {
  z-index: -1;
  animation-name: h1w1l4;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h1w1l4 {
  0% {
    transform: translate(150%, -25%);
  }
  14% {
    transform: translate(250%, 25%);
  }
  28% {
    transform: translate(300%, 0%);
  }
  43% {
    transform: translate(300%, -50%);
  }
  57% {
    transform: translate(200%, -100%);
  }
  71% {
    transform: translate(150%, -75%);
  }
  85% {
    transform: translate(150%, -25%);
  }
  100% {
    transform: translate(150%, -25%);
  }
}
.h1.w2.l1 {
  z-index: -1;
  animation-name: h1w2l1;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h1w2l1 {
  0% {
    transform: translate(0%, -75%);
  }
  14% {
    transform: translate(-100%, -100%);
  }
  28% {
    transform: translate(-100%, -100%);
  }
  43% {
    transform: translate(-100%, -150%);
  }
  57% {
    transform: translate(-50%, -125%);
  }
  71% {
    transform: translate(-50%, -125%);
  }
  85% {
    transform: translate(-50%, -75%);
  }
  100% {
    transform: translate(-50%, -75%);
  }
}
.h1.w2.l2 {
  z-index: -1;
  animation-name: h1w2l2;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h1w2l2 {
  0% {
    transform: translate(50%, -50%);
  }
  14% {
    transform: translate(0%, -50%);
  }
  28% {
    transform: translate(0%, -50%);
  }
  43% {
    transform: translate(0%, -100%);
  }
  57% {
    transform: translate(0%, -100%);
  }
  71% {
    transform: translate(0%, -100%);
  }
  85% {
    transform: translate(0%, -50%);
  }
  100% {
    transform: translate(0%, -50%);
  }
}
.h1.w2.l3 {
  z-index: -1;
  animation-name: h1w2l3;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h1w2l3 {
  0% {
    transform: translate(100%, -25%);
  }
  14% {
    transform: translate(100%, 0%);
  }
  28% {
    transform: translate(100%, 0%);
  }
  43% {
    transform: translate(100%, -50%);
  }
  57% {
    transform: translate(50%, -75%);
  }
  71% {
    transform: translate(50%, -75%);
  }
  85% {
    transform: translate(50%, -25%);
  }
  100% {
    transform: translate(50%, -25%);
  }
}
.h1.w2.l4 {
  z-index: -1;
  animation-name: h1w2l4;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h1w2l4 {
  0% {
    transform: translate(150%, 0%);
  }
  14% {
    transform: translate(200%, 50%);
  }
  28% {
    transform: translate(200%, 50%);
  }
  43% {
    transform: translate(200%, 0%);
  }
  57% {
    transform: translate(100%, -50%);
  }
  71% {
    transform: translate(100%, -50%);
  }
  85% {
    transform: translate(100%, 0%);
  }
  100% {
    transform: translate(100%, 0%);
  }
}
.h1.w3.l1 {
  z-index: -1;
  animation-name: h1w3l1;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h1w3l1 {
  0% {
    transform: translate(0%, -50%);
  }
  14% {
    transform: translate(-150%, -75%);
  }
  28% {
    transform: translate(-200%, -50%);
  }
  43% {
    transform: translate(-200%, -100%);
  }
  57% {
    transform: translate(-150%, -75%);
  }
  71% {
    transform: translate(-100%, -100%);
  }
  85% {
    transform: translate(-100%, -50%);
  }
  100% {
    transform: translate(-100%, -50%);
  }
}
.h1.w3.l2 {
  z-index: -1;
  animation-name: h1w3l2;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h1w3l2 {
  0% {
    transform: translate(50%, -25%);
  }
  14% {
    transform: translate(-50%, -25%);
  }
  28% {
    transform: translate(-100%, 0%);
  }
  43% {
    transform: translate(-100%, -50%);
  }
  57% {
    transform: translate(-100%, -50%);
  }
  71% {
    transform: translate(-50%, -75%);
  }
  85% {
    transform: translate(-50%, -25%);
  }
  100% {
    transform: translate(-50%, -25%);
  }
}
.h1.w3.l3 {
  z-index: -1;
  animation-name: h1w3l3;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h1w3l3 {
  0% {
    transform: translate(100%, 0%);
  }
  14% {
    transform: translate(50%, 25%);
  }
  28% {
    transform: translate(0%, 50%);
  }
  43% {
    transform: translate(0%, 0%);
  }
  57% {
    transform: translate(-50%, -25%);
  }
  71% {
    transform: translate(0%, -50%);
  }
  85% {
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
.h1.w3.l4 {
  z-index: -1;
  animation-name: h1w3l4;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h1w3l4 {
  0% {
    transform: translate(150%, 25%);
  }
  14% {
    transform: translate(150%, 75%);
  }
  28% {
    transform: translate(100%, 100%);
  }
  43% {
    transform: translate(100%, 50%);
  }
  57% {
    transform: translate(0%, 0%);
  }
  71% {
    transform: translate(50%, -25%);
  }
  85% {
    transform: translate(50%, 25%);
  }
  100% {
    transform: translate(50%, 25%);
  }
}
.h1.w4.l1 {
  z-index: -1;
  animation-name: h1w4l1;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h1w4l1 {
  0% {
    transform: translate(0%, -25%);
  }
  14% {
    transform: translate(-200%, -50%);
  }
  28% {
    transform: translate(-300%, 0%);
  }
  43% {
    transform: translate(-300%, -50%);
  }
  57% {
    transform: translate(-250%, -25%);
  }
  71% {
    transform: translate(-150%, -75%);
  }
  85% {
    transform: translate(-150%, -25%);
  }
  100% {
    transform: translate(-150%, -25%);
  }
}
.h1.w4.l2 {
  z-index: -1;
  animation-name: h1w4l2;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h1w4l2 {
  0% {
    transform: translate(50%, 0%);
  }
  14% {
    transform: translate(-100%, 0%);
  }
  28% {
    transform: translate(-200%, 50%);
  }
  43% {
    transform: translate(-200%, 0%);
  }
  57% {
    transform: translate(-200%, 0%);
  }
  71% {
    transform: translate(-100%, -50%);
  }
  85% {
    transform: translate(-100%, 0%);
  }
  100% {
    transform: translate(-100%, 0%);
  }
}
.h1.w4.l3 {
  z-index: -1;
  animation-name: h1w4l3;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h1w4l3 {
  0% {
    transform: translate(100%, 25%);
  }
  14% {
    transform: translate(0%, 50%);
  }
  28% {
    transform: translate(-100%, 100%);
  }
  43% {
    transform: translate(-100%, 50%);
  }
  57% {
    transform: translate(-150%, 25%);
  }
  71% {
    transform: translate(-50%, -25%);
  }
  85% {
    transform: translate(-50%, 25%);
  }
  100% {
    transform: translate(-50%, 25%);
  }
}
.h1.w4.l4 {
  z-index: -1;
  animation-name: h1w4l4;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h1w4l4 {
  0% {
    transform: translate(150%, 50%);
  }
  14% {
    transform: translate(100%, 100%);
  }
  28% {
    transform: translate(0%, 150%);
  }
  43% {
    transform: translate(0%, 100%);
  }
  57% {
    transform: translate(-100%, 50%);
  }
  71% {
    transform: translate(0%, 0%);
  }
  85% {
    transform: translate(0%, 50%);
  }
  100% {
    transform: translate(0%, 50%);
  }
}
.h2.w1.l1 {
  z-index: -2;
  animation-name: h2w1l1;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h2w1l1 {
  0% {
    transform: translate(-50%, -50%);
  }
  14% {
    transform: translate(-50%, -75%);
  }
  28% {
    transform: translate(0%, -100%);
  }
  43% {
    transform: translate(0%, -100%);
  }
  57% {
    transform: translate(50%, -75%);
  }
  71% {
    transform: translate(0%, -50%);
  }
  85% {
    transform: translate(0%, -50%);
  }
  100% {
    transform: translate(0%, -50%);
  }
}
.h2.w1.l2 {
  z-index: -2;
  animation-name: h2w1l2;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h2w1l2 {
  0% {
    transform: translate(0%, -25%);
  }
  14% {
    transform: translate(50%, -25%);
  }
  28% {
    transform: translate(100%, -50%);
  }
  43% {
    transform: translate(100%, -50%);
  }
  57% {
    transform: translate(100%, -50%);
  }
  71% {
    transform: translate(50%, -25%);
  }
  85% {
    transform: translate(50%, -25%);
  }
  100% {
    transform: translate(50%, -25%);
  }
}
.h2.w1.l3 {
  z-index: -2;
  animation-name: h2w1l3;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h2w1l3 {
  0% {
    transform: translate(50%, 0%);
  }
  14% {
    transform: translate(150%, 25%);
  }
  28% {
    transform: translate(200%, 0%);
  }
  43% {
    transform: translate(200%, 0%);
  }
  57% {
    transform: translate(150%, -25%);
  }
  71% {
    transform: translate(100%, 0%);
  }
  85% {
    transform: translate(100%, 0%);
  }
  100% {
    transform: translate(100%, 0%);
  }
}
.h2.w1.l4 {
  z-index: -2;
  animation-name: h2w1l4;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h2w1l4 {
  0% {
    transform: translate(100%, 25%);
  }
  14% {
    transform: translate(250%, 75%);
  }
  28% {
    transform: translate(300%, 50%);
  }
  43% {
    transform: translate(300%, 50%);
  }
  57% {
    transform: translate(200%, 0%);
  }
  71% {
    transform: translate(150%, 25%);
  }
  85% {
    transform: translate(150%, 25%);
  }
  100% {
    transform: translate(150%, 25%);
  }
}
.h2.w2.l1 {
  z-index: -2;
  animation-name: h2w2l1;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h2w2l1 {
  0% {
    transform: translate(-50%, -25%);
  }
  14% {
    transform: translate(-100%, -50%);
  }
  28% {
    transform: translate(-100%, -50%);
  }
  43% {
    transform: translate(-100%, -50%);
  }
  57% {
    transform: translate(-50%, -25%);
  }
  71% {
    transform: translate(-50%, -25%);
  }
  85% {
    transform: translate(-50%, -25%);
  }
  100% {
    transform: translate(-50%, -25%);
  }
}
.h2.w2.l2 {
  z-index: -2;
  animation-name: h2w2l2;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h2w2l2 {
  0% {
    transform: translate(0%, 0%);
  }
  14% {
    transform: translate(0%, 0%);
  }
  28% {
    transform: translate(0%, 0%);
  }
  43% {
    transform: translate(0%, 0%);
  }
  57% {
    transform: translate(0%, 0%);
  }
  71% {
    transform: translate(0%, 0%);
  }
  85% {
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
.h2.w2.l3 {
  z-index: -2;
  animation-name: h2w2l3;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h2w2l3 {
  0% {
    transform: translate(50%, 25%);
  }
  14% {
    transform: translate(100%, 50%);
  }
  28% {
    transform: translate(100%, 50%);
  }
  43% {
    transform: translate(100%, 50%);
  }
  57% {
    transform: translate(50%, 25%);
  }
  71% {
    transform: translate(50%, 25%);
  }
  85% {
    transform: translate(50%, 25%);
  }
  100% {
    transform: translate(50%, 25%);
  }
}
.h2.w2.l4 {
  z-index: -2;
  animation-name: h2w2l4;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h2w2l4 {
  0% {
    transform: translate(100%, 50%);
  }
  14% {
    transform: translate(200%, 100%);
  }
  28% {
    transform: translate(200%, 100%);
  }
  43% {
    transform: translate(200%, 100%);
  }
  57% {
    transform: translate(100%, 50%);
  }
  71% {
    transform: translate(100%, 50%);
  }
  85% {
    transform: translate(100%, 50%);
  }
  100% {
    transform: translate(100%, 50%);
  }
}
.h2.w3.l1 {
  z-index: -2;
  animation-name: h2w3l1;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h2w3l1 {
  0% {
    transform: translate(-50%, 0%);
  }
  14% {
    transform: translate(-150%, -25%);
  }
  28% {
    transform: translate(-200%, 0%);
  }
  43% {
    transform: translate(-200%, 0%);
  }
  57% {
    transform: translate(-150%, 25%);
  }
  71% {
    transform: translate(-100%, 0%);
  }
  85% {
    transform: translate(-100%, 0%);
  }
  100% {
    transform: translate(-100%, 0%);
  }
}
.h2.w3.l2 {
  z-index: -2;
  animation-name: h2w3l2;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h2w3l2 {
  0% {
    transform: translate(0%, 25%);
  }
  14% {
    transform: translate(-50%, 25%);
  }
  28% {
    transform: translate(-100%, 50%);
  }
  43% {
    transform: translate(-100%, 50%);
  }
  57% {
    transform: translate(-100%, 50%);
  }
  71% {
    transform: translate(-50%, 25%);
  }
  85% {
    transform: translate(-50%, 25%);
  }
  100% {
    transform: translate(-50%, 25%);
  }
}
.h2.w3.l3 {
  z-index: -2;
  animation-name: h2w3l3;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h2w3l3 {
  0% {
    transform: translate(50%, 50%);
  }
  14% {
    transform: translate(50%, 75%);
  }
  28% {
    transform: translate(0%, 100%);
  }
  43% {
    transform: translate(0%, 100%);
  }
  57% {
    transform: translate(-50%, 75%);
  }
  71% {
    transform: translate(0%, 50%);
  }
  85% {
    transform: translate(0%, 50%);
  }
  100% {
    transform: translate(0%, 50%);
  }
}
.h2.w3.l4 {
  z-index: -2;
  animation-name: h2w3l4;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h2w3l4 {
  0% {
    transform: translate(100%, 75%);
  }
  14% {
    transform: translate(150%, 125%);
  }
  28% {
    transform: translate(100%, 150%);
  }
  43% {
    transform: translate(100%, 150%);
  }
  57% {
    transform: translate(0%, 100%);
  }
  71% {
    transform: translate(50%, 75%);
  }
  85% {
    transform: translate(50%, 75%);
  }
  100% {
    transform: translate(50%, 75%);
  }
}
.h2.w4.l1 {
  z-index: -2;
  animation-name: h2w4l1;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h2w4l1 {
  0% {
    transform: translate(-50%, 25%);
  }
  14% {
    transform: translate(-200%, 0%);
  }
  28% {
    transform: translate(-300%, 50%);
  }
  43% {
    transform: translate(-300%, 50%);
  }
  57% {
    transform: translate(-250%, 75%);
  }
  71% {
    transform: translate(-150%, 25%);
  }
  85% {
    transform: translate(-150%, 25%);
  }
  100% {
    transform: translate(-150%, 25%);
  }
}
.h2.w4.l2 {
  z-index: -2;
  animation-name: h2w4l2;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h2w4l2 {
  0% {
    transform: translate(0%, 50%);
  }
  14% {
    transform: translate(-100%, 50%);
  }
  28% {
    transform: translate(-200%, 100%);
  }
  43% {
    transform: translate(-200%, 100%);
  }
  57% {
    transform: translate(-200%, 100%);
  }
  71% {
    transform: translate(-100%, 50%);
  }
  85% {
    transform: translate(-100%, 50%);
  }
  100% {
    transform: translate(-100%, 50%);
  }
}
.h2.w4.l3 {
  z-index: -2;
  animation-name: h2w4l3;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h2w4l3 {
  0% {
    transform: translate(50%, 75%);
  }
  14% {
    transform: translate(0%, 100%);
  }
  28% {
    transform: translate(-100%, 150%);
  }
  43% {
    transform: translate(-100%, 150%);
  }
  57% {
    transform: translate(-150%, 125%);
  }
  71% {
    transform: translate(-50%, 75%);
  }
  85% {
    transform: translate(-50%, 75%);
  }
  100% {
    transform: translate(-50%, 75%);
  }
}
.h2.w4.l4 {
  z-index: -2;
  animation-name: h2w4l4;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h2w4l4 {
  0% {
    transform: translate(100%, 100%);
  }
  14% {
    transform: translate(100%, 150%);
  }
  28% {
    transform: translate(0%, 200%);
  }
  43% {
    transform: translate(0%, 200%);
  }
  57% {
    transform: translate(-100%, 150%);
  }
  71% {
    transform: translate(0%, 100%);
  }
  85% {
    transform: translate(0%, 100%);
  }
  100% {
    transform: translate(0%, 100%);
  }
}
.h3.w1.l1 {
  z-index: -3;
  animation-name: h3w1l1;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h3w1l1 {
  0% {
    transform: translate(-100%, 0%);
  }
  14% {
    transform: translate(-50%, -25%);
  }
  28% {
    transform: translate(0%, -50%);
  }
  43% {
    transform: translate(0%, 0%);
  }
  57% {
    transform: translate(50%, 25%);
  }
  71% {
    transform: translate(0%, 50%);
  }
  85% {
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
.h3.w1.l2 {
  z-index: -3;
  animation-name: h3w1l2;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h3w1l2 {
  0% {
    transform: translate(-50%, 25%);
  }
  14% {
    transform: translate(50%, 25%);
  }
  28% {
    transform: translate(100%, 0%);
  }
  43% {
    transform: translate(100%, 50%);
  }
  57% {
    transform: translate(100%, 50%);
  }
  71% {
    transform: translate(50%, 75%);
  }
  85% {
    transform: translate(50%, 25%);
  }
  100% {
    transform: translate(50%, 25%);
  }
}
.h3.w1.l3 {
  z-index: -3;
  animation-name: h3w1l3;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h3w1l3 {
  0% {
    transform: translate(0%, 50%);
  }
  14% {
    transform: translate(150%, 75%);
  }
  28% {
    transform: translate(200%, 50%);
  }
  43% {
    transform: translate(200%, 100%);
  }
  57% {
    transform: translate(150%, 75%);
  }
  71% {
    transform: translate(100%, 100%);
  }
  85% {
    transform: translate(100%, 50%);
  }
  100% {
    transform: translate(100%, 50%);
  }
}
.h3.w1.l4 {
  z-index: -3;
  animation-name: h3w1l4;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h3w1l4 {
  0% {
    transform: translate(50%, 75%);
  }
  14% {
    transform: translate(250%, 125%);
  }
  28% {
    transform: translate(300%, 100%);
  }
  43% {
    transform: translate(300%, 150%);
  }
  57% {
    transform: translate(200%, 100%);
  }
  71% {
    transform: translate(150%, 125%);
  }
  85% {
    transform: translate(150%, 75%);
  }
  100% {
    transform: translate(150%, 75%);
  }
}
.h3.w2.l1 {
  z-index: -3;
  animation-name: h3w2l1;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h3w2l1 {
  0% {
    transform: translate(-100%, 25%);
  }
  14% {
    transform: translate(-100%, 0%);
  }
  28% {
    transform: translate(-100%, 0%);
  }
  43% {
    transform: translate(-100%, 50%);
  }
  57% {
    transform: translate(-50%, 75%);
  }
  71% {
    transform: translate(-50%, 75%);
  }
  85% {
    transform: translate(-50%, 25%);
  }
  100% {
    transform: translate(-50%, 25%);
  }
}
.h3.w2.l2 {
  z-index: -3;
  animation-name: h3w2l2;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h3w2l2 {
  0% {
    transform: translate(-50%, 50%);
  }
  14% {
    transform: translate(0%, 50%);
  }
  28% {
    transform: translate(0%, 50%);
  }
  43% {
    transform: translate(0%, 100%);
  }
  57% {
    transform: translate(0%, 100%);
  }
  71% {
    transform: translate(0%, 100%);
  }
  85% {
    transform: translate(0%, 50%);
  }
  100% {
    transform: translate(0%, 50%);
  }
}
.h3.w2.l3 {
  z-index: -3;
  animation-name: h3w2l3;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h3w2l3 {
  0% {
    transform: translate(0%, 75%);
  }
  14% {
    transform: translate(100%, 100%);
  }
  28% {
    transform: translate(100%, 100%);
  }
  43% {
    transform: translate(100%, 150%);
  }
  57% {
    transform: translate(50%, 125%);
  }
  71% {
    transform: translate(50%, 125%);
  }
  85% {
    transform: translate(50%, 75%);
  }
  100% {
    transform: translate(50%, 75%);
  }
}
.h3.w2.l4 {
  z-index: -3;
  animation-name: h3w2l4;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h3w2l4 {
  0% {
    transform: translate(50%, 100%);
  }
  14% {
    transform: translate(200%, 150%);
  }
  28% {
    transform: translate(200%, 150%);
  }
  43% {
    transform: translate(200%, 200%);
  }
  57% {
    transform: translate(100%, 150%);
  }
  71% {
    transform: translate(100%, 150%);
  }
  85% {
    transform: translate(100%, 100%);
  }
  100% {
    transform: translate(100%, 100%);
  }
}
.h3.w3.l1 {
  z-index: -3;
  animation-name: h3w3l1;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h3w3l1 {
  0% {
    transform: translate(-100%, 50%);
  }
  14% {
    transform: translate(-150%, 25%);
  }
  28% {
    transform: translate(-200%, 50%);
  }
  43% {
    transform: translate(-200%, 100%);
  }
  57% {
    transform: translate(-150%, 125%);
  }
  71% {
    transform: translate(-100%, 100%);
  }
  85% {
    transform: translate(-100%, 50%);
  }
  100% {
    transform: translate(-100%, 50%);
  }
}
.h3.w3.l2 {
  z-index: -3;
  animation-name: h3w3l2;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h3w3l2 {
  0% {
    transform: translate(-50%, 75%);
  }
  14% {
    transform: translate(-50%, 75%);
  }
  28% {
    transform: translate(-100%, 100%);
  }
  43% {
    transform: translate(-100%, 150%);
  }
  57% {
    transform: translate(-100%, 150%);
  }
  71% {
    transform: translate(-50%, 125%);
  }
  85% {
    transform: translate(-50%, 75%);
  }
  100% {
    transform: translate(-50%, 75%);
  }
}
.h3.w3.l3 {
  z-index: -3;
  animation-name: h3w3l3;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h3w3l3 {
  0% {
    transform: translate(0%, 100%);
  }
  14% {
    transform: translate(50%, 125%);
  }
  28% {
    transform: translate(0%, 150%);
  }
  43% {
    transform: translate(0%, 200%);
  }
  57% {
    transform: translate(-50%, 175%);
  }
  71% {
    transform: translate(0%, 150%);
  }
  85% {
    transform: translate(0%, 100%);
  }
  100% {
    transform: translate(0%, 100%);
  }
}
.h3.w3.l4 {
  z-index: -3;
  animation-name: h3w3l4;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h3w3l4 {
  0% {
    transform: translate(50%, 125%);
  }
  14% {
    transform: translate(150%, 175%);
  }
  28% {
    transform: translate(100%, 200%);
  }
  43% {
    transform: translate(100%, 250%);
  }
  57% {
    transform: translate(0%, 200%);
  }
  71% {
    transform: translate(50%, 175%);
  }
  85% {
    transform: translate(50%, 125%);
  }
  100% {
    transform: translate(50%, 125%);
  }
}
.h3.w4.l1 {
  z-index: -3;
  animation-name: h3w4l1;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h3w4l1 {
  0% {
    transform: translate(-100%, 75%);
  }
  14% {
    transform: translate(-200%, 50%);
  }
  28% {
    transform: translate(-300%, 100%);
  }
  43% {
    transform: translate(-300%, 150%);
  }
  57% {
    transform: translate(-250%, 175%);
  }
  71% {
    transform: translate(-150%, 125%);
  }
  85% {
    transform: translate(-150%, 75%);
  }
  100% {
    transform: translate(-150%, 75%);
  }
}
.h3.w4.l2 {
  z-index: -3;
  animation-name: h3w4l2;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h3w4l2 {
  0% {
    transform: translate(-50%, 100%);
  }
  14% {
    transform: translate(-100%, 100%);
  }
  28% {
    transform: translate(-200%, 150%);
  }
  43% {
    transform: translate(-200%, 200%);
  }
  57% {
    transform: translate(-200%, 200%);
  }
  71% {
    transform: translate(-100%, 150%);
  }
  85% {
    transform: translate(-100%, 100%);
  }
  100% {
    transform: translate(-100%, 100%);
  }
}
.h3.w4.l3 {
  z-index: -3;
  animation-name: h3w4l3;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h3w4l3 {
  0% {
    transform: translate(0%, 125%);
  }
  14% {
    transform: translate(0%, 150%);
  }
  28% {
    transform: translate(-100%, 200%);
  }
  43% {
    transform: translate(-100%, 250%);
  }
  57% {
    transform: translate(-150%, 225%);
  }
  71% {
    transform: translate(-50%, 175%);
  }
  85% {
    transform: translate(-50%, 125%);
  }
  100% {
    transform: translate(-50%, 125%);
  }
}
.h3.w4.l4 {
  z-index: -3;
  animation-name: h3w4l4;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h3w4l4 {
  0% {
    transform: translate(50%, 150%);
  }
  14% {
    transform: translate(100%, 200%);
  }
  28% {
    transform: translate(0%, 250%);
  }
  43% {
    transform: translate(0%, 300%);
  }
  57% {
    transform: translate(-100%, 250%);
  }
  71% {
    transform: translate(0%, 200%);
  }
  85% {
    transform: translate(0%, 150%);
  }
  100% {
    transform: translate(0%, 150%);
  }
}
.h4.w1.l1 {
  z-index: -4;
  animation-name: h4w1l1;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h4w1l1 {
  0% {
    transform: translate(-150%, 50%);
  }
  14% {
    transform: translate(-50%, 25%);
  }
  28% {
    transform: translate(0%, 0%);
  }
  43% {
    transform: translate(0%, 100%);
  }
  57% {
    transform: translate(50%, 125%);
  }
  71% {
    transform: translate(0%, 150%);
  }
  85% {
    transform: translate(0%, 50%);
  }
  100% {
    transform: translate(0%, 50%);
  }
}
.h4.w1.l2 {
  z-index: -4;
  animation-name: h4w1l2;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h4w1l2 {
  0% {
    transform: translate(-100%, 75%);
  }
  14% {
    transform: translate(50%, 75%);
  }
  28% {
    transform: translate(100%, 50%);
  }
  43% {
    transform: translate(100%, 150%);
  }
  57% {
    transform: translate(100%, 150%);
  }
  71% {
    transform: translate(50%, 175%);
  }
  85% {
    transform: translate(50%, 75%);
  }
  100% {
    transform: translate(50%, 75%);
  }
}
.h4.w1.l3 {
  z-index: -4;
  animation-name: h4w1l3;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h4w1l3 {
  0% {
    transform: translate(-50%, 100%);
  }
  14% {
    transform: translate(150%, 125%);
  }
  28% {
    transform: translate(200%, 100%);
  }
  43% {
    transform: translate(200%, 200%);
  }
  57% {
    transform: translate(150%, 175%);
  }
  71% {
    transform: translate(100%, 200%);
  }
  85% {
    transform: translate(100%, 100%);
  }
  100% {
    transform: translate(100%, 100%);
  }
}
.h4.w1.l4 {
  z-index: -4;
  animation-name: h4w1l4;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h4w1l4 {
  0% {
    transform: translate(0%, 125%);
  }
  14% {
    transform: translate(250%, 175%);
  }
  28% {
    transform: translate(300%, 150%);
  }
  43% {
    transform: translate(300%, 250%);
  }
  57% {
    transform: translate(200%, 200%);
  }
  71% {
    transform: translate(150%, 225%);
  }
  85% {
    transform: translate(150%, 125%);
  }
  100% {
    transform: translate(150%, 125%);
  }
}
.h4.w2.l1 {
  z-index: -4;
  animation-name: h4w2l1;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h4w2l1 {
  0% {
    transform: translate(-150%, 75%);
  }
  14% {
    transform: translate(-100%, 50%);
  }
  28% {
    transform: translate(-100%, 50%);
  }
  43% {
    transform: translate(-100%, 150%);
  }
  57% {
    transform: translate(-50%, 175%);
  }
  71% {
    transform: translate(-50%, 175%);
  }
  85% {
    transform: translate(-50%, 75%);
  }
  100% {
    transform: translate(-50%, 75%);
  }
}
.h4.w2.l2 {
  z-index: -4;
  animation-name: h4w2l2;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h4w2l2 {
  0% {
    transform: translate(-100%, 100%);
  }
  14% {
    transform: translate(0%, 100%);
  }
  28% {
    transform: translate(0%, 100%);
  }
  43% {
    transform: translate(0%, 200%);
  }
  57% {
    transform: translate(0%, 200%);
  }
  71% {
    transform: translate(0%, 200%);
  }
  85% {
    transform: translate(0%, 100%);
  }
  100% {
    transform: translate(0%, 100%);
  }
}
.h4.w2.l3 {
  z-index: -4;
  animation-name: h4w2l3;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h4w2l3 {
  0% {
    transform: translate(-50%, 125%);
  }
  14% {
    transform: translate(100%, 150%);
  }
  28% {
    transform: translate(100%, 150%);
  }
  43% {
    transform: translate(100%, 250%);
  }
  57% {
    transform: translate(50%, 225%);
  }
  71% {
    transform: translate(50%, 225%);
  }
  85% {
    transform: translate(50%, 125%);
  }
  100% {
    transform: translate(50%, 125%);
  }
}
.h4.w2.l4 {
  z-index: -4;
  animation-name: h4w2l4;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h4w2l4 {
  0% {
    transform: translate(0%, 150%);
  }
  14% {
    transform: translate(200%, 200%);
  }
  28% {
    transform: translate(200%, 200%);
  }
  43% {
    transform: translate(200%, 300%);
  }
  57% {
    transform: translate(100%, 250%);
  }
  71% {
    transform: translate(100%, 250%);
  }
  85% {
    transform: translate(100%, 150%);
  }
  100% {
    transform: translate(100%, 150%);
  }
}
.h4.w3.l1 {
  z-index: -4;
  animation-name: h4w3l1;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h4w3l1 {
  0% {
    transform: translate(-150%, 100%);
  }
  14% {
    transform: translate(-150%, 75%);
  }
  28% {
    transform: translate(-200%, 100%);
  }
  43% {
    transform: translate(-200%, 200%);
  }
  57% {
    transform: translate(-150%, 225%);
  }
  71% {
    transform: translate(-100%, 200%);
  }
  85% {
    transform: translate(-100%, 100%);
  }
  100% {
    transform: translate(-100%, 100%);
  }
}
.h4.w3.l2 {
  z-index: -4;
  animation-name: h4w3l2;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h4w3l2 {
  0% {
    transform: translate(-100%, 125%);
  }
  14% {
    transform: translate(-50%, 125%);
  }
  28% {
    transform: translate(-100%, 150%);
  }
  43% {
    transform: translate(-100%, 250%);
  }
  57% {
    transform: translate(-100%, 250%);
  }
  71% {
    transform: translate(-50%, 225%);
  }
  85% {
    transform: translate(-50%, 125%);
  }
  100% {
    transform: translate(-50%, 125%);
  }
}
.h4.w3.l3 {
  z-index: -4;
  animation-name: h4w3l3;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h4w3l3 {
  0% {
    transform: translate(-50%, 150%);
  }
  14% {
    transform: translate(50%, 175%);
  }
  28% {
    transform: translate(0%, 200%);
  }
  43% {
    transform: translate(0%, 300%);
  }
  57% {
    transform: translate(-50%, 275%);
  }
  71% {
    transform: translate(0%, 250%);
  }
  85% {
    transform: translate(0%, 150%);
  }
  100% {
    transform: translate(0%, 150%);
  }
}
.h4.w3.l4 {
  z-index: -4;
  animation-name: h4w3l4;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h4w3l4 {
  0% {
    transform: translate(0%, 175%);
  }
  14% {
    transform: translate(150%, 225%);
  }
  28% {
    transform: translate(100%, 250%);
  }
  43% {
    transform: translate(100%, 350%);
  }
  57% {
    transform: translate(0%, 300%);
  }
  71% {
    transform: translate(50%, 275%);
  }
  85% {
    transform: translate(50%, 175%);
  }
  100% {
    transform: translate(50%, 175%);
  }
}
.h4.w4.l1 {
  z-index: -4;
  animation-name: h4w4l1;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h4w4l1 {
  0% {
    transform: translate(-150%, 125%);
  }
  14% {
    transform: translate(-200%, 100%);
  }
  28% {
    transform: translate(-300%, 150%);
  }
  43% {
    transform: translate(-300%, 250%);
  }
  57% {
    transform: translate(-250%, 275%);
  }
  71% {
    transform: translate(-150%, 225%);
  }
  85% {
    transform: translate(-150%, 125%);
  }
  100% {
    transform: translate(-150%, 125%);
  }
}
.h4.w4.l2 {
  z-index: -4;
  animation-name: h4w4l2;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h4w4l2 {
  0% {
    transform: translate(-100%, 150%);
  }
  14% {
    transform: translate(-100%, 150%);
  }
  28% {
    transform: translate(-200%, 200%);
  }
  43% {
    transform: translate(-200%, 300%);
  }
  57% {
    transform: translate(-200%, 300%);
  }
  71% {
    transform: translate(-100%, 250%);
  }
  85% {
    transform: translate(-100%, 150%);
  }
  100% {
    transform: translate(-100%, 150%);
  }
}
.h4.w4.l3 {
  z-index: -4;
  animation-name: h4w4l3;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h4w4l3 {
  0% {
    transform: translate(-50%, 175%);
  }
  14% {
    transform: translate(0%, 200%);
  }
  28% {
    transform: translate(-100%, 250%);
  }
  43% {
    transform: translate(-100%, 350%);
  }
  57% {
    transform: translate(-150%, 325%);
  }
  71% {
    transform: translate(-50%, 275%);
  }
  85% {
    transform: translate(-50%, 175%);
  }
  100% {
    transform: translate(-50%, 175%);
  }
}
.h4.w4.l4 {
  z-index: -4;
  animation-name: h4w4l4;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes h4w4l4 {
  0% {
    transform: translate(0%, 200%);
  }
  14% {
    transform: translate(100%, 250%);
  }
  28% {
    transform: translate(0%, 300%);
  }
  43% {
    transform: translate(0%, 400%);
  }
  57% {
    transform: translate(-100%, 350%);
  }
  71% {
    transform: translate(0%, 300%);
  }
  85% {
    transform: translate(0%, 200%);
  }
  100% {
    transform: translate(0%, 200%);
  }
}
