@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
:root {
  height: 100%;
  font-family: "Inter", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 218 23% 23%;
    --primary-foreground: 210 40% 98%;

    --secondary: 218 24% 41%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --orange-main: 22 84% 45%;
    --orange-main-foreground: 210 40% 98%;

    --green-main: 130 51% 37%;
    --green-main-foreground: 210 40% 98%;

    --ghost-white: 210 38% 95%;
    --ghost-white-foreground: 210 40% 98%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

input[type="time"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}

.time-picker {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 11 */
}

.time-picker::-webkit-scrollbar {
  width: 0.4rem; /* Width of the vertical scrollbar */
}

.time-picker::-webkit-scrollbar-track {
  background: transparent; /* Track color */
}

.time-picker::-webkit-scrollbar-thumb {
  background: #ccc; /* Thumb color */
  border-radius: 1rem; /* Roundness of the thumb */
}

.time-picker::-webkit-scrollbar-thumb:hover {
  background: #aaa; /* Thumb color on hover */
}

.search-suggestion::-webkit-scrollbar {
  width: 0;
}

.hide-spinner::-webkit-inner-spin-button,
.hide-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.sticky {
  position: -webkit-sticky; /* For Safari compatibility */
  position: sticky;
  top: 0; /* Adjust this value if you want some spacing from the top */
}
